<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>CV EMMC</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">

    <div id="preloader">
        <div id="loader"></div>
    </div>

    <!-- site header
    ================================================== -->
    <header class="s-header">

        <nav class="header-nav-wrap">
            <ul class="header-main-nav">
                <li class="current"><a class="smoothscroll" href="#intro" title="intro">Intro</a></li>
                <li><a class="smoothscroll" href="#about" title="about">Sobre mim</a></li>
                <li><a class="smoothscroll" href="#contact" title="contact us">Contacte-me</a></li>	
            </ul>

            <ul class="header-social">
                <li><a href="https://www.linkedin.com/in/elisa-coutinho/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>

    </header> <!-- end s-header -->


    <!-- intro
    ================================================== -->
    <section id="intro" class="s-intro target-section">

        <div class="row intro-content">

            <div class="column large-9 mob-full intro-text">
                <h3>Ola! Sou Elisinha :)</h3>
                <h1>
                    Engenheira Mecanica, <br>
                    English Teacher & <br>
                    Belezinha.
                </h1>
            </div>

            <div class="intro-scroll">
                <a href="#about" class="intro-scroll-link smoothscroll">
                    Role para baixo 
                </a>
            </div>

            <div class="intro-grid"></div>
            <div class="intro-pic"></div>

        </div> <!-- end row -->

    </section> <!-- end intro -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="about-me">

            <div class="row heading-block" data-aos="fade-up">
                <div class="column large-full">
                    <h2 class="section-heading">Sobre mim</h2>
                </div>
            </div>

            <div class="row about-me__content" data-aos="fade-up">
                <div class="column large-full about-me__text">
                    <p class="lead">
                    Me chamo Elisa M. Coutinho, nascida no dia 5 de Novembro de 1986. Adoro carros, comer e cozinhar comidas maravilhosas!
                    </p>

                    <p>
                        A experiência estagiando na Mahle foi incrível! Tive a oportunidade de trabalhar em dois setores diferentes: 
                        Projetos de Máquinas e Ferramentaria além de participar do projeto força tarefa com outros estagiários do setor da Qualidade. 
                        Obrigada por tudo e a todos que de alguma forma me ajudaram a tornar essa experiência sempre melhor!
                    </p>

                    <p>
                        Durante alguns meses eu e mais 5 estagiários da MAHLE realizamos um mapeamento crítico em uma das mini fábricas da planta de Itajubá, 
                        com objetivo de levantar possíveis não conformidades e conformidades e tornar os problemas visíveis. 
                        Além disso, esse mapeamento também teve o objetivo de desenvolver as habilidades dos estagiários, tais como análise crítica, 
                        comunicação, gestão de tempo, responsabilidade, vivência no chão de fábrica, entre outros.
                    </p>

                    <p>
                        Professora de Ingles durante varios anos, sempre invovando nas aulas, de maneira com que estas sejam sempre divertidas e proveitosas para meus alunos.
                        Sou extremamente dedicada no que faco, adaptando minhas aulas de acordo com o perfil de cada aluno, o que torna o aprendizado mais eficiente e 
                        muito mais empolgante, o que permite que o desenvolvimento seja constante e maximizado. 
                    </p>
                </div>
            </div>
    
            <div class="row about-me__buttons">
                <div class="column large-half tab-full" data-aos="fade-up">
                    <a href="#0" class="btn btn--stroke full-width">Entre em contato</a>
                </div>
                <div class="column large-half tab-full" data-aos="fade-up">
                    <a href="#0" class="btn btn--primary full-width">Download CV</a>
                </div>
            </div>

        </div> <!-- end about-me -->

        <div class="about-experience">

            <div class="row heading-block" data-aos="fade-up">
                <div class="column large-full">
                    <h2 class="section-heading">Experiência & Formação acadêmica</h2>
                </div>
            </div>

            <div class="row about-experience__timeline">

                <div class="column large-half tab-full" data-aos="fade-up">
                    <div class="timeline">

                        <div class="timeline__icon-wrap">
                            <span class="timeline__icon timeline__icon--work"></span>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">Julho 2019 - Julho 2021</p>
                                <h3 class="item-title">Mahle</h3>
                                <h5>Estagio de Graduacao</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>Oportunidade de trabalhar em dois setores diferentes: Projetos de Máquinas e 
                                Ferramentaria além de participar do projeto força tarefa com outros estagiários do setor da Qualidade</p>
                            </div>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">Abril 2019 - Janeiro 2021  &</p>
                                <p class="timeline__timeframe">Outubro 2011 - Julho 2014</p>
                                <h3 class="item-title">Wizard Language Education Center</h3>
                                <h5>Instrutora de Ingles</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>Atuou como instrutora de ingles em Itajuba</p>
                            </div>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">Marco 2017 - Marco 2018</p>
                                <h3 class="item-title">FAPEMIG</h3>
                                <h5>Bolsista de iniciação científica na FEPI</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>Durante o XXV Congresso Nacional de Estudantes de Engenharia Mecânica, com o tema: 
                                    "Análise da estrutura compósita sobre o comportamento dinâmico de laminados"</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="column large-half tab-full" data-aos="fade-up">
                    <div class="timeline">

                        <div class="timeline__icon-wrap">
                            <span class="timeline__icon timeline__icon--education"></span>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">Janeiro 2015 - Julho 2021</p>
                                <h3 class="item-title">Centro Universitário de Itajubá</h3>
                                <h5>Engenharia Mecanica</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>Graduada em Engenharia Mecanica pelo Centro Universitário de Itajubá. Fez Iniciacao Cientifica na area de Materiais Compostos.
                                    Participou de congressos e eventos expondo seus trabalhos. Como trabalho de conclusao de curso, de tema "Estudo e Simulacao de veiculos
                                    Hibridos via software ADVISOR." </p>
                            </div>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">Janeiro 2019</p>
                                <h3 class="item-title">Fundacao Bradesco</h3>
                                <h5>Curso de Excel Intermediário</h5>
                            </div>
                            <div class="timeline__desc">
                                <p></p>
                            </div>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">Janeiro 2006</p>
                                <h3 class="item-title">UNIFEI</h3>
                                <h5>Mini Curso Rede de Computadores</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>Mini Curso de Rede de Computadores - concluído em 2006 – UNIFEI</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div> <!-- end about-experience -->

    </section> <!-- end s-about -->   
    


    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact ss-dark target-section">

        <div class="row heading-block" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-heading">Entre em contato</h2>
            </div>
        </div>

        <div class="row contact-main" data-aos="fade-up">
            <div class="column large-full">
                <p class="contact-email">
                    <a href="mailto:#0">elisinha@gmail.com</a>
                </p>

                <p class="section-desc">
                Estarei feliz em ajudar, sempre!
                <a href="mailto:#0">Email Me</a>.
                </p>
            </div>
        </div>

        <div class="row contact-infos" data-aos="fade-up" data-aos-anchor=".contact-main">

            <div class="column large-5 medium-full contact-phone">
                <h4>Call Me</h4>
                <a href="tel:197-543-2345">+123 456 789</a>
            </div>


        </div> <!-- end contact-infos -->

    </section> <!-- end s-contact -->


    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="column large-full ss-copyright">
                <span>© Copyright Epitome 2019</span> 
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div>            

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </div>
    </footer>



    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>